PORT = 5000
CORS_ORIGIN =*

ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dzlssfues
CLOUDINARY_API_KEY=623517767742469
CLOUDINARY_API_SECRET=We_NJPFqXODnb3NDeb1OhvU6Waw

MONGODB_URI = mongodb+srv://bluecollar:bluecollar@cluster0.snk6do3.mongodb.net